// Third party libraries.
script(src='/vendor/lib/jquery/dist/jquery.min.js')
script(src='/vendor/lib/jquery-ui/jquery-ui.min.js')
script(src='/vendor/lib/alertify.js/lib/alertify.min.js')
script(src='/vendor/lib/lodash/lodash.min.js')
script(src='/vendor/lib/angular/angular.min.js')
script(src='/vendor/lib/angular-ui-date/dist/date.js')
script(src='/vendor/lib/semantic/dist/semantic.min.js')
script(src='/vendor/lib/semanticular/dist/semanticular.min.js')
script(src='/vendor/lib/angular-animate/angular-animate.min.js')
script(src='/vendor/lib/angular-resource/angular-resource.min.js')
script(src='/vendor/lib/angular-route/angular-route.min.js')
script(src='/vendor/lib/angular-sanitize/angular-sanitize.min.js')
script(src='/vendor/lib/moment/min/moment-with-locales.min.js')

script(src='/vendor/lib/ng-file-upload/ng-file-upload.min.js')
script(src='/vendor/lib/textAngular/dist/textAngular-rangy.min.js')
script(src='/vendor/lib/textAngular/dist/textAngular-sanitize.min.js')
script(src='/vendor/lib/textAngular/dist/textAngular.min.js')
script(src='/vendor/lib/ng-dialog/js/ngDialog.js')

script(src='/vendor/lib/angular-ui-router/release/angular-ui-router.min.js')
// Panel files.
script(src='/vendor/admin/js/app.js')
script(src='/vendor/admin/js/config.js')
script(src='/vendor/admin/js/routes.js')
script(src='/vendor/admin/js/helper.js')
script(src='/vendor/admin/js/MenuController.js')

script(src='/vendor/admin/components/sectors/input/controller.js')
script(src='/vendor/admin/components/sectors/input/directive.js')

script(src='/vendor/admin/components/tags/input/controller.js')
script(src='/vendor/admin/components/tags/input/directive.js')

//Filter
script(src='/vendor/admin/js/filters/projectStatus.js')
script(src='/vendor/admin/js/filters/gender.js')
script(src='/vendor/admin/js/filters/fromNow.js')
script(src='/vendor/admin/js/filters/simpleDate.js')

// Grid
script(src='/vendor/admin/components/grid/controller.js')
script(src='/vendor/admin/components/grid/directive.js')
script(src='/vendor/admin/components/grid/sortableheader/directive.js')
script(src='/vendor/admin/components/grid/paginator/controller.js')
script(src='/vendor/admin/components/grid/paginator/directive.js')
script(src='/vendor/admin/components/grid/itemcountselector/directive.js')
script(src='/vendor/admin/components/grid/itemcountselector/controller.js')

// Dashboard
script(src='/vendor/admin/components/dashboard/resource.js')
script(src='/vendor/admin/components/dashboard/controller.js')

// Announcements
script(src='/vendor/admin/components/announcements/list/controller.js')
script(src='/vendor/admin/components/announcements/detail/controller.js')
script(src='/vendor/admin/components/announcements/resource.js')

// Companies
script(src='/vendor/admin/components/companies/list/controller.js')
script(src='/vendor/admin/components/companies/detail/controller.js')
script(src='/vendor/admin/components/companies/resource.js')

// Sectors
script(src='/vendor/admin/components/sectors/list/controller.js')
script(src='/vendor/admin/components/sectors/detail/controller.js')
script(src='/vendor/admin/components/sectors/resource.js')

// Comments
script(src='/vendor/admin/components/comments/list/controller.js')
script(src='/vendor/admin/components/comments/detail/controller.js')
script(src='/vendor/admin/components/comments/resource.js')

// Categories
script(src='/vendor/admin/components/categories/list/controller.js')
script(src='/vendor/admin/components/categories/detail/controller.js')
script(src='/vendor/admin/components/categories/resource.js')

// Deals
script(src='/vendor/admin/components/deals/list/controller.js')
script(src='/vendor/admin/components/deals/detail/controller.js')
script(src='/vendor/admin/components/deals/resource.js')

// Freebies
script(src='/vendor/admin/components/freebies/list/controller.js')
script(src='/vendor/admin/components/freebies/detail/controller.js')
script(src='/vendor/admin/components/freebies/resource.js')


// Vouchers
script(src='/vendor/admin/components/vouchers/list/controller.js')
script(src='/vendor/admin/components/vouchers/detail/controller.js')
script(src='/vendor/admin/components/vouchers/resource.js')

// Ask
script(src='/vendor/admin/components/ask/list/controller.js')
script(src='/vendor/admin/components/ask/detail/controller.js')
script(src='/vendor/admin/components/ask/resource.js')

// Users
script(src='/vendor/admin/components/users/detail/controller.js')
script(src='/vendor/admin/components/users/list/controller.js')
script(src='/vendor/admin/components/users/change-password/controller.js')
script(src='/vendor/admin/components/users/resource.js')


// Modals
script(src='/vendor/admin/components/modals/uploader/controller.js')
