doctype html
html
  head
    meta(name='viewport', content='width=device-width', style='font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;font-size: 100%;line-height: 1.6em;margin: 0;padding: 0;')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Indiringo.come
  body(bgcolor='#f6f6f6', style='font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;font-size: 100%;line-height: 1.6em;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;height: 100%;-webkit-text-size-adjust: none;width: 100% !important;')
    // body
    table.body-wrap(bgcolor='#f6f6f6', style='font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;font-size: 100%;line-height: 1.6em;margin: 0;padding: 20px;width: 100%;')
      tbody(style='font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;font-size: 100%;line-height: 1.6em;margin: 0;padding: 0;')
        tr(style='font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;font-size: 100%;line-height: 1.6em;margin: 0;padding: 0;')
          td(style='font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;font-size: 100%;line-height: 1.6em;margin: 0;padding: 0;')  
          td.container(bgcolor='#FFFFFF', style='font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;font-size: 100%;line-height: 1.6em;margin: 0 auto !important;padding: 20px;border: 1px solid #f0f0f0;clear: both !important;display: block !important;max-width: 600px !important;')
            // content
            .content(style='font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;font-size: 100%;line-height: 1.6em;margin: 0 auto;padding: 0;display: block;max-width: 600px;')
              table(style='font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;font-size: 100%;line-height: 1.6em;margin: 0;padding: 0;width: 100%;')
                tbody(style='font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;font-size: 100%;line-height: 1.6em;margin: 0;padding: 0;')
                  tr(style='font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;font-size: 100%;line-height: 1.6em;margin: 0;padding: 0;')
                    td(style='font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;font-size: 100%;line-height: 1.6em;margin: 0;padding: 0;')
                      h2(style='font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;font-size: 28px;line-height: 1.2em;margin: 40px 0 10px;padding: 0;color: #111111;font-weight: 200;') Sayın #{name},
                      p(style='font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;font-size: 14px;line-height: 1.6em;margin: 0;padding: 0;font-weight: normal;margin-bottom: 10px;')
                        a(href='http://www.indiringo.com', style='font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;font-size: 100%;line-height: 1.6em;margin: 0;padding: 0;color: #348eda;') İndiringo.com
                        |  'a göstermiş olduğunuz ilgiye teşekkür ederiz!
                      p(style='font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;font-size: 14px;line-height: 1.6em;margin: 0;padding: 0;font-weight: normal;margin-bottom: 10px;') #{title} adlı ücretsiz teklifiniz reddedilmiştir :(
                      p(style='font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;font-size: 14px;line-height: 1.6em;margin: 0;padding: 0;font-weight: normal;margin-bottom: 10px;') Lütfen başvurunuzu kullanıcı sözleşmesine uygun şekilde tekrar güncelleyiniz.

                      p(style='font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;font-size: 14px;line-height: 1.6em;margin: 0;padding: 0;font-weight: normal;margin-bottom: 10px;')    
    // /body
